export(prinsimp, simpart)
export(basisplot, varsimp, varperc)
S3method(simpart, default)
S3method(simpart, formula)
S3method(print, simpart)
S3method(summary, simpart)
S3method(print, summary.simpart)
S3method(plot, simpart)
S3method(print, prinsimp)
S3method(summary, prinsimp)
S3method(print, summary.prinsimp)
S3method(plot, prinsimp)
